@charset "utf-8";
/* CSS Document */

#form-container {
	background-color: aliceblue;
	margin-left: 30%;
	margin-right: 30%;
	padding-bottom: 20px;
	padding-top: 5px;
	border: black;
	border-style: solid;
	
}

#actual-content {
	margin-left: 70px;
	margin-right: 70px;
}

body {
	font-family: 'Oxygen',sans-serif;
	background-color:#C9FFC5;
	margin: 0;
}

#top{
	padding-bottom: 3px;
	padding-top: 5px;
	background-color: #C9FFC5;
	text-align: center;
	
}

p {
	font-family: 'Oxygen', sans-serif;
}


#map {
	width: 100%;
	height: 600px;
}

.logo {
	padding-top: 5px;
}

#footer {
	text-align: center;
	
}

.accomodation {
	font-family: 'Oxygen', sans-serif;
}

.slider {
    -webkit-appearance: none;
    width: 80%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.dropbtn {
	width: 100%;
	font-family: 'Oxygen',sans-serif;
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
	opacity: 0.7;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
	width: 100%;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}
